.list-cell:filled:selected
{
	-fx-background-color: linear-gradient(to right, #EF656A, #C52C52);
	-fx-text-fill: white;
}

.list-cell
{
	-fx-font-family: "Dubai light";
	-fx-font-size: 18px;
}

.list-cell:filled:hover
{ 
	-fx-background-color: linear-gradient(to right, #EF656A, #C52C52);
	-fx-text-fill: white;
}

.list-view
{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.list-view .virtual-flow .scroll-bar:vertical,
.list-view .virtual-flow .scroll-bar:vertical .track,
.list-view .virtual-flow .scroll-bar:vertical .track-background,
.list-view .virtual-flow .scroll-bar:horizontal,
.list-view .virtual-flow .scroll-bar:horizontal .track,
.list-view .virtual-flow .scroll-bar:horizontal .track-background
{
	-fx-padding: 5;
	-fx-background-color: transparent;
}

.list-view .virtual-flow .scroll-bar .increment-button,
.list-view .virtual-flow .scroll-bar .decrement-button
{
	-fx-opacity: 0;
}

.list-cell:empty {
	-fx-background-color: transparent;
}

.list-view .virtual-flow .scroll-bar:vertical .thumb,
.list-view .virtual-flow .scroll-bar:horizontal .thumb
{	
	-fx-background-color: linear-gradient(to top, #EF656A, #C65868);
}

.delete-button
{
	-fx-border-color: linear-gradient(to bottom, #EF656A, #C52C52);
	-fx-border-radius: 15;
	-fx-background-color: transparent;
	-fx-text-fill: linear-gradient(to bottom, #EF656A, #C52C52);
}

.delete-button:hover
{
	-fx-background-color: radial-gradient(radius 180%, #F46138, derive(#F43867, -15%), derive(#F49938, 30%));
	-fx-background-radius:  15;
	-fx-border-color: transparent;
	-fx-text-fill: white;
}

.search-button
{	
	-fx-background-color: linear-gradient(to left, #EF656A, #C52C52);
	-fx-background-radius: 10;
	-fx-text-fill: white;
}

.search-button:hover
{
	-fx-background-color: white;
	-fx-text-fill: linear-gradient(to left, #EF656A, #C52C52);
}

.tool-button
{
	-fx-text-fill: #F0EAE4;
}

.tool-button:hover
{
	-fx-text-fill: #FFFFFF;
}