.recipe-x
{
	-fx-background-color: transparent;
	-fx-background-radius: 10;
}

.recipe-x: hover
{
	-fx-background-color: #D53939;
}

.scroll-bar:horizontal, .scroll-bar:vertical
{	
	-fx-background-color: #F5F2F2; 
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb 
{
	-fx-background-color: #78666C;
}

.increment-button, .decrement-button
{
	-fx-background-color: transparent;
}

.recipe-star
{
	-fx-background-color: transparent;
	-fx-background-radius: 10;
}

.check-box:selected .text
{
	-fx-strikethrough: true;
}

.check-box .text
{
	-fx-strikethrough: false;
}

.check-box .box 
{
	-fx-background-color: white;
	-fx-border-width: 1px;
	-fx-border-color: #b5abab;
	-fx-border-radius: 3; 
}

.check-box:hover
{
	-fx-text-fill: #AA093A;
}

.check-box:selected .mark
{
	-fx-background-color: white;
}

.check-box:selected .box 
{
	-fx-background-color: #C70039;
	-fx-background-radius: 5;
}